ion-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: 95%;
}

ion-content {
    --background: #000000;
}

ion-card.ios {
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-col {
    height: calc(55vh / 5);
}

ion-label {
    --ion-font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.resultado {
    font-size: 24px;
}