ion-label {
    font-weight: bold;
}

ion-input {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.text-numeric {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.resultado {
    font-weight: bolder;
    color: #0000ff;
}

.bolder {
    font-weight: bolder;
}